//main: style.scss

// LQU Colors
$blue01: #232960; //light blue    35, 41, 96    logo color; specified incorrectly in 200515_LQU_WebsiteStyleGuide.pdf
$blue02: #232949; //dark blue     35, 41, 73
$gray01: #5b6066; //light gray    91, 96, 102
$gray02: #2c2c2c; //dark gray     44, 44, 44
$tan: #e1d8c2;
$black: #000000;
$white: #ffffff;
@mixin lqu-fg-colors {
  &.fg-blue01 { color: $blue01; }
  &.fg-blue02 { color: $blue02; }
  &.fg-gray01 { color: $gray01; }
  &.fg-gray02 { color: $gray02; }
  &.fg-tan { color: $tan; }
  &.fg-black { color: $black; }
  &.fg-white { color: $white; }
}
@mixin lqu-bg-colors {
  &.bg-blue01 { color: $blue01; }
  &.bg-blue02 { color: $blue02; }
  &.bg-gray01 { color: $gray01; }
  &.bg-gray02 { color: $gray02; }
  &.bg-tan { color: $tan; }
  &.bg-black { color: $black; }
  &.bg-white { color: $white; }
}
@mixin lqu-fg-bg-colors {
  @include lqu-fg-colors;
  @include lqu-bg-colors;
}
