//main: style.scss

.grecaptcha-badge { visibility: hidden; }

div.lqu-contact-form {
  >div {

    >div.contact-response {
      border:2px solid $blue01;
      padding:30px;
      margin:60px auto;
      //background-color:$white;
    }

    form {
      @include p2-small-note;
      input:focus, textarea:focus, select:focus { outline: none; }
      input[type=text], input[type=email], textarea {
        @include p1-body-big;
        display:block;
        width:100%;
        border:0px;
        background-color:rgba($tan,0.5);
        box-sizing: border-box;
        -webkit-appearance: none;
        border-radius: 0px;
      }
      input[type=text], input[type=email] {
        border-bottom:1px solid $gray02;
        margin-bottom:0.25em;
      }
      textarea {
        resize: vertical;
      }
      span.lqu-field {
        display:flex;
        flex-direction: column-reverse;
        margin-bottom:30px;
        >label {}
        &.text-area.your-message {
          margin-top:45px;
          flex-direction: column;
          border:1px solid $gray02;
          padding:1em;
          >label { margin-bottom:0.5em; }
          >textarea {  }
        }
      }
      >div.first-and-last-names {
        @media( min-width:$iphone-5-landscape ) {
          display:grid;
          width:100%;
          grid-template-columns: 1fr 1fr;
          column-gap: 50px;
        }
      }
      >input[name=submit] {
        @include cta-button;
        width:100%;
        @media( min-width:$iphone-6-landscape ) {
          width:auto;
          margin-left:auto;
          min-width:50%;
        }
        &.disabled {
          opacity:0.5;
          &:hover {
            background-color:$blue01;
            color:$tan;
            cursor:default;
          }
        }
      }
      >div.google-recatcha-notice {
        opacity:0.5;
        box-sizing: border-box;
        padding:25px;
        width:auto;
        text-align: center;
        a { color:$gray02; }
        >span {
          display:block;
        }
        @media( min-width:$iphone-6-landscape ) {
          width:50%;
          text-align: left;
          margin-left:auto;
        }
      }


    } //end form
  }


  &.sidebar {
    >div {
      >div.contact-response {
        border:0px;
        padding:30px 0;
        margin:0px auto;
        //background-color:inherit;
        >h1 {
          color:$tan;
        }
      }
      form {
        input[type=text], input[type=email] {
          //no message field on sidebar
          background-color:$blue02;
          border-color: $tan;
          color:$tan;
        }
        input[type=submit] {
          background-color:$tan;
          border-color: $blue02;
          color:$blue01;
          &.disabled {
            opacity:0.5;
            &:hover {
              background-color:$tan;
              color:$blue01;
              cursor:default;
            }
          }
        }
        >div.google-recatcha-notice {
          a { color:$tan; }
        }
      }
    }
  }
}
