//main: style.scss

section.re-upholsteries {
  @include lqu-overview;
  >div {
    >div.grid {
      border-top:1px solid $tan;
      grid-template-columns: 1fr 1fr;
      >a {
        border-bottom:1px solid $tan;
        border-right:1px solid $tan;
        &:nth-child(2n) { border-right:0px; }
      }
      @media(min-width:$desktop) {
        grid-template-columns: 1fr 1fr 1fr;
        >a {
          &:nth-child(2n) { border-right:1px solid $tan; }
          &:nth-child(3n) { border-right:0px; }
        }
      }
      >a {
        cursor: pointer;
        >span.image {
          background-size: cover;
          &.image1 { display:block;}
          &.image2 { display:none;}
          padding-bottom:percentage(760/960);
        }
        &:hover {
          >span.image {
            &.image1 { display:none; }
            &.image2 { display:block; }
          }
        }
      }
    }
  }
}
