// main: style.scss

section.faq {
  @include lqu-overview;
  background-color:$tan;
  margin-top:0px; margin-bottom:0px;
  padding-top:30px;
  //overflow: hidden;
  >div {
    >div.faq {
      max-width:760px;
      padding-left:30px; padding-right:30px;
      margin-left:auto; margin-right:auto;
      @media( min-width:$desktop) {
        padding-top:30px;
      }
      >div.item {
        padding-bottom:60px;
        &:last-child { padding-bottom:0px; }
        >div {
          display:grid;
          grid-template-columns: 30px auto;
          &.question {
            >div.right {
              font-style: italic;
            }
          }
          &.answer {
            margin-top:30px;
            >div.show-more-link {
              display:none;
              cursor: pointer;
            }
          }
        }
        &.hide-answers-on-mobile {
          >div.answer>div.right.answer-text { display:none; }
          >div.answer>div.right.show-more-link { display:block; }
          >div.answer>div.left.answer-prompt { visibility: hidden; }
          @mixin showit {
            >div.answer>div.right.answer-text { display:block; }
            >div.answer>div.right.show-more-link { display:none; }
            >div.answer>div.left.answer-prompt { visibility: visible; }
          }
          @media (min-width:$desktop) and (min-height:$iphone-5-landscape) { @include showit; }
          &.shown { @include showit; }
        }
      }
    }
  }
}
