//main: style.scss
section.category-furniture {
  @include lqu-overview;
  >div {
    >div.grid {
      &.furniture {
        border-top: 1px solid $tan;
        @include inner-borders(2);
        @media (min-width:$desktop) {
          @include inner-borders(3);
        }
        >a {
          //background-color:red;
          position:relative;
          span.badges {
            position:absolute;
            top:15px; right:15px;
            display:flex;
            span.lqu-circle-badge {
              width:45px; height:45px; border-radius:90px;
              margin-left:10px;
              background-color:$blue01;
              color:$white;
              font-weight: normal;
              display:flex;
              justify-content: center;
              align-items: center;
              font-style: italic;
              font-size:12px;
              line-height: 12px;
              >span {
                margin-top:3px;
              }
            }
          }
          >span.text {
            >span {
              display:block;
              &.available {
                color:$blue01;
              }
              &.edit-link {
                >span {
                  display:inline-block;
                  margin-top:3px;
                  color:$blue01;
                  cursor: pointer;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
      &.explore {
        grid-template-columns: repeat(2,1fr);
        @media( min-width:$desktop) {
          grid-template-columns: repeat(4,1fr);
        }
      }
    }
  }
}
