// compileNested: ./style-editor.css
body {
  .editor-post-title__block {
    border-bottom:1px solid black;
  }
}

// alignfull and alignwide are only on front end, data-align are used on the backend
.wp-block{ max-width: 1200px; }
.wp-block[data-align=wide] { max-width:1280px; }
.wp-block[data-align=full] { max-width:100vw; }

@import "style.scss";
