.type-product,
.product-type-simple {
   display: flex;
}


/* buttons */
.button,
.woocommerce .button,
.woocommerce a.button,
#wp-submit {
   @include cta-button;
}

.woocommerce a.add-request-quote-button.button {
   font-size: initial !important;

   &:hover {
      background-color: initial !important;
      border: 2px solid $blue01 !important;
      color: $blue01 !important;
   }
}

.text-button {
   font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 18px;
   text-transform: uppercase;
}

section .woocommerce {
   display: flex;
   flex-direction: column;
   padding-left: 30px;
   padding-right: 30px;
}

.woocommerce-page .generic-page .generic-content,
.woocommerce-js .generic-page .generic-content {
   max-width: 14000px !important;
   padding: 0;
}

.woocommerce ul.products {
   padding: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
   font-size: 1em;
   text-align: center;
}


/* products */
.y-product,
.woocommerce-breadcrumb {
   margin: 0 auto;
   padding: 40px 0 20px;
   max-width: 1400px;
}

.y-product {
   .summary.entry-summary {
      @media (min-width:$desktop) {
         padding-left: 40px;
      }
   }

   &__details {
   
      .price {
         margin: 0;
      }
   
      .quantity {
         margin-bottom: 16px;
      }
   
      .add-request-quote-button,
      .yith-ywraq-add-to-quote {
         display: block !important;
      }
   
      .product_meta {
         padding: 20px 0;
      }
   }
}

.yith-wapo-option {
   font-size: 18px;
   padding: 0 !important;
}

.yith-wapo-option-value,
.woocommerce-Input--text,
.woocommerce-Input--email,
.woocommerce-Input--password,
.register-form input[type="text"],
.register-form input[type="email"],
#registerform input[type="text"],
#registerform input[type="email"] {
   padding: 8px 0 !important;
   font-size: 24px;
   line-height: 28px;
   margin-bottom: 0.25em;
   background: transparent;
   -webkit-appearance: none;
   border: 0;
   border-bottom: 1px solid $gray02;

   &:focus,
   &:focus-visible {
      border-bottom: 2px solid $blue01;
      outline: none;
   }
}

.register-form,
#registerform {
   input, select {
      margin-bottom: 0 !important;
      width: 100%;
   }

   input[type="radio"],
   input[type="checkbox"] {
      display: inline-block;
      width: auto;
      margin-right: 8px;
      vertical-align: middle;
   }

   h2 { display: none; }

   .acf-field {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 20px;
   }

   .acf-field-group,
   .acf-field-radio,
   .acf-field-range,
   .acf-field-checkbox,
   .acf-field-message {
      flex-direction: column;
   }

   .acf-fields .acf-field-group {
      padding: 20px 0;

      .acf-label label {
         @include font-family-BaskervilleURW;
         text-transform: none !important;
         font-size: 22px;
         font-style: italic;
         color: $blue01;
         letter-spacing: normal;
      }
      .acf-fields .acf-label label {
         font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-style: normal;
         text-transform: uppercase !important;
         letter-spacing: 0.12em;
         color: $gray02;
         font-size: 14px;
         line-height: 18px;
      }
   }

   .acf-radio-list,
   .acf-checkbox-list {
      list-style: none;
      padding: 0;
   }
}

select.yith-wapo-option-value {
   font-size: 16px;
}

.woocommerce-breadcrumb {
   margin: 0 auto;
   padding: 20px;
   max-width: 1400px;
   font-size: 16px;
   font-style: italic;
}

.woocommerce-product-gallery {
   position: relative;

   &__trigger {
      position: absolute;
      z-index: 1;
      padding: 20px;
   }
}

.woocommerce-ordering {
   margin-bottom: 30px;
}

.product_meta {
   padding: 20px;
   font-size: 16px;
   font-style: italic;

   .posted_in a {
      font-weight: bold;
   }
}

.yith-wapo-addon {
   padding: 10px 0 !important;
   border: 1px solid $tan;
   border-width: 0 0 1px;
}

.yith-wapo-block {
   margin-bottom: 40px;
}

.yith-wapo-block .yith-wapo-addon.wapo-toggle .wapo-addon-title:before {
   content: '' !important;
   display: none !important;
}

.yith-wapo-block .yith-wapo-addon.wapo-toggle .wapo-addon-title:after {
   content: '\f347';
   font-size: 16px;
   font-family: 'dashicons';
   display: inline-block;
}

.wapo-addon-title {
   display: flex;
   justify-content: space-between;
   color: $blue01;
   font-size: 16px;
   letter-spacing: 0.12em;
   text-transform: uppercase;
   font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.yith-wapo-block__container,
.yith-ywraq-mail-form-wrapper form,
.cart_item {
   padding: 20px;
   margin-bottom: 20px;
   border: 1px solid $blue01;
}

.yith-wapo-block__title {
   margin-bottom: 20px;
}

.wapo-addon-description {
   margin-top: 0px;
   padding-bottom: 20px;
   margin-bottom: 0;
   font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 18px;
   color: #aaa;
}

.yith-ywraq-mail-form-wrapper {
   label {
      font-size: 16px;
   }

   .input-text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0.25em;
      background: transparent;
      -webkit-appearance: none;
      border: 0;
      border-bottom: 1px solid $gray02;
   }
}

.ywraq_error {
   font-size: 16px;
}

.cart_item {
   display: flex;
   justify-content: space-between;

   .product-remove {
      width: auto;
   }

   .product-name {
      min-width: 250px;
      
      ul {
         margin: 20px 0;
         padding: 0;
         list-style: none;
      }
   }

   .product-quantity {
      padding: 0;
      
   }
}

form,
#registerform {
   font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;

   label {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
   }

   p {
      margin-bottom: 40px;
   }

   input:not([type='submit']) {
      @include font-family-BaskervilleURW;
      font-size: 24px;
      line-height: 28px;
   }

   select {
      padding: 8px 0;
      margin: 8px 0;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      background: transparent;
      border-width: 0 0 1px 0;
   }
}

.woocommerce-form-login__rememberme {
   margin-bottom: 20px;
}

h2 { color: $blue01; }

.lost_password {
   @include font-family-BaskervilleURW;
   font-size: 20px;
   font-style: italic;
   font-weight: bold;
}

.show-password-input {
   top: 0 !important;

   &:after {
      font-family: 'dashicons' !important;
      content: "\f530" !important;
      color: $blue01;
   }
}

.woocommerce-page section.generic-page {
   background: $tan;
}

.woocommerce-account {
   
   section.generic-page > div {
      max-width: none !important;
   }

   .woocommerce-MyAccount-content {
      @media (min-width:$desktop) {
         width: 80% !important;
      }

      //background: $white;
   }

   .woocommerce-MyAccount-navigation {
      @media (max-width:$desktop) {
         border-bottom: 1px solid $blue01;
      }

      @media (min-width:$desktop) {
         width: 20% !important;
      }

      font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;

      ul {
         font-size: 16px;
         text-transform: uppercase;
         list-style: none;
      }
   }

   .woocommerce-MyAccount-navigation-link,
   .admin-tools__link {
      margin-bottom: 10px;
   }

   table.shop_table.shop_table_responsive.my_account_quotes.my_account_orders {
      margin-top: 0;
   }

   .quotes {
      height: 100%;
      border: 1px solid $blue01;
   }

   .quotes-number a {
      font-weight: bold;
      font-style: italic;
   }

   .raq_status,
   .ywraq-status {
      display: initial;
      color: inherit;
      font-size: inherit;
      padding: 0;
      border-radius: 0;
      min-width: none;
      text-transform: capitalize;
      background: transparent !important;

      &.pending {
         font-style: italic;
         color: #a24545;
      }

      &.new {
         color: inherit !important;
      }
   }

   .product-thumbnail {
      max-width: 250px;
   }
}

.button.ywraq-pdf-file {
   padding: 8px 16px !important;
}

.order_item {
   border: 1px solid $blue01;
}

.order_details__prices {
   justify-content: space-between;
}

.order_details {
   .product-name {
      font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.12em;
   }
}

.admin-tools {
   padding-top: 20px;

   &__heading {
      @include font-family-BaskervilleURW;
      margin-bottom: 8px;
      text-transform: none;
      font-size: 20px;
      color: $blue01;
      font-weight: bold;
      font-style: italic;
   }
}

h1, h2, h3, h4, h5 {
   margin: 60px 0px 30px 0px;
   line-height: 1.25;
 }


// wp-login.php
.login-action-register {
   background: $tan;

   #login {
      width: auto;
      max-width: 690px;
   }

   #registerform {
      padding: 0;
      box-shadow: none;
      background: transparent;
      border: 0;

      p {
         display: flex;
         flex-direction: column-reverse;
         margin-bottom: 20px;
      }

      input {
         margin-bottom: 4px;
         border-radius: 0;
      }

      .acf-fields.-border {
         background: transparent;
         border: 0;
      }

      .acf-fields > .acf-field {
         padding: 0;
      }
   }

   #nav {
      @include font-family-BaskervilleURW;
      padding: 0 !important;
      font-weight: bold;
      font-style: italic;
      font-size: 20px !important;

      a {
         color: $blue01 !important;
      }
   }

   .privacy-policy-page-link {
      padding-bottom: 20px !important;
      text-align: left !important;
   }

   .privacy-policy-link {
      color: $blue01 !important;
   }
 }

.login .message,
.message {
   background: transparent !important;
   border: 1px solid $blue01;
   border-left: 4px solid $blue01 !important;
   font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   letter-spacing: 0.12em;
   text-transform: uppercase;


}

.ywraq-additional-information {
   flex-direction: column;
}

.ywraq-customer-information {
   border: 1px solid $blue01 !important;
   border-radius: 0 !important;
}

.ywraq-admin-message {
   margin-top: 20px;
   background: $blue01 !important;
   color: $tan !important;
   border-radius: 0 !important;
   width: 100% !important;
}

.ywraq-view-quote-wrapper p {
   margin: 10px 0 !important;
}

.ywraq-buttons a.ywraq-button.ywraq-reject,
.ywraq-buttons a.ywraq-button.ywraq-accept {
   border-radius: 0 !important;

   &:hover {
      background: $white !important;
      color: $blue01 !important;
   }
}

.woocommerce-notices-wrapper ul {
   border: 1px solid $blue01;
   padding: 8px;
   font-size: 16px;
   font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   list-style: none;
}
