.elementor-2214 .elementor-element.elementor-element-aa55034{margin-top:0px;margin-bottom:0px;}.elementor-2214 .elementor-element.elementor-element-baeb98a > .elementor-widget-container{margin:-20px 0px 0px 0px;}@media(min-width:768px){.elementor-2214 .elementor-element.elementor-element-5dfa9e6{width:19.641%;}.elementor-2214 .elementor-element.elementor-element-7005814{width:80.359%;}}/* Start custom CSS for shortcode, class: .elementor-element-73b5c82 */.woocommerce-MyAccount-content {display:none;}
.woocommerce .woocommerce-MyAccount-navigation ul .is-active {
    background-color: transparent!important;
}
.woocommerce-MyAccount-navigation-link--anyuniquetext123 {
    background-color: #e1d8c2!important;
}/* End custom CSS */