//main: style.scss
$iphone-4-portrait:320px;
$iphone-4-landscape:480px;
$iphone-5-portrait:320px;
$iphone-5-landscape:568px;
$iphone-6-portrait:375px;
$iphone-6-landscape:667px;
$iphone-6-plus-portrait:414px;
$iphone-6-plus-landscape:736px;
$iphone-x-landscape:812px;
$ipad-portrait:768px;
$ipad-landscape:1024px;
$macbook13-landscape:1280px;
$macbook15-old-landscape:1440px; //old was 1440
$macbook15-landscape:1680px; //old was 1440

//LQU
// $desktop:$iphone-x-landscape; //not quite large enough for nav, even stacked
$desktop:840px;
$page-width:1440px;
$header-height-s:80px;
$header-height-l:140px;

// pdp-break mixin defined in mixin-single-product
