//main: style.scss

// Mobile nav is in nav-mobile.scss

section.footer {
  background-color:$blue02;
  color:$tan;
  padding-bottom:30px;
  a { color:$tan; }
  >div {
    max-width:1440px;
    margin-left: auto; margin-right:auto;
    @media( min-width:$desktop ) {
      display:grid;
      grid-template-columns: repeat(12,1fr);
      grid-template-rows: auto auto auto;
    }
    >div.footer-q {
      >img {
        display:block;
        margin-left:auto; margin-right: auto;
        max-width:260px;
        height:auto;
        padding-bottom:30px;
      }
      @media( min-width:$desktop ) {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        >img {
          max-width:480px;
        }
      }
    }
    >nav {
      margin:60px 30px;
      @media( min-width:$desktop ) {
        margin:0px;
      }
      ul, li {
        margin:0px; padding:0px;
        list-style: none;
      }
      @include nav-items;

      >ul {
        >li {
          >span { //button for furniture
            color:$tan;
            font-weight: bold;
          }
          >ul {
            @media( min-width:$desktop ) {
              display:block;
            }
            >li {
              >a {
                display:block;
                margin:30px 0px;
                margin-left:30px;
                font-weight: normal;
                @media( min-width:$desktop ) {
                  margin-left:0px;
                }
              }
            }
          }
        }
      }

      &.furniture {
        @media( min-width:$desktop ) {
          grid-column: 7 / 9;
          grid-row: 2 / 3;
        }

        >ul {
          >li {
            >span { //button for furniture
              cursor: pointer;
              @media( min-width:$desktop ) {
                cursor: default;
              }
            }
            >ul {
              display:none;
              &.shown { display:block; }
              @media( min-width:$desktop ) {
                display:block;
              }
            }
          }
        }

      }
      &.contact {
        display:none;
        @media( min-width:$desktop ) {
          display:block;
          grid-column: 10 / 12;
          grid-row: 2 / 3;
        }
        li.social-icons {
          a {
            @include social-icon-link; //social-icons.scss
          }
        }
      }
    }
    >div.text {
      margin:60px 30px;
      >*:first-child { margin-top:0px; } //paragraph
      @media( min-width:$desktop ) {
        margin:0px;
        grid-column: 2 / 6;
        grid-row: 2 / 3;
      }
    }
    >div.copyright {
      margin-top:60px;
      @include nav-items;
      color:$tan;
      text-align: center;
      margin:30px;
      @media( min-width:$desktop ) {
        margin:0px; padding:0px;
        grid-column: 2 / 6;
        grid-row: 3 / 4;
        text-align: left;
        margin-top:30px;
      }
    }
    div.privacy {

      @include nav-items;
      color:$tan;
      text-align: center;
      margin:30px;
      @media( min-width:$desktop ) {
        margin:0px; padding:0px;
        grid-column: 7 / 12;
        grid-row: 3 / 4;
        text-align: left;
        margin-top:30px;
      }
    }
  }
}
