//main: style.scss

@mixin pdp-break {
  @media( min-width:$ipad-portrait ) and (min-height: $ipad-portrait) {
    @content;
  }
}

@mixin mixin-single-product {
  background-color:$white;
  position:relative;
  >div {
    max-width:$page-width;
    margin-left:auto; margin-right:auto;
    >div.info_and_images {
      @include pdp-break {
        display:flex;
        position:relative;
      }

      // Left Column items are in a flex box so the
      // order of items can be specified with media queries
      >div.info {

        @include pdp-break {
          width:33.33%;
          position:sticky;
          top:$header-height-s;
          @media( min-width:$desktop ) {
            top:$header-height-l;
            padding-bottom:60px;
          }
          left:0px;
          align-self: flex-start;
        }

        margin-left:30px; margin-right:30px;
        display:flex;
        flex-direction:column;

        >div {
          //default flex item padding
          padding:15px 0px;
        }

        // Order not specified for nav and first-image
        // So they are 0, and go first
        nav.section-nav {
          order:0;
          background-color:$white;
          margin:15px 0px; //NOTE: flush with first image in design
          >div {
            @include p3-breadcrumbs;
            >span>a {
              color:$gray02;
            }
          }
        }

        // First image
        >div.first-image {
          order:0;
          @include pdp-break {
            display:none;
          }
          >img {
            display:block;
            width:100%; height:auto;
            margin-top:30px 0px; //edge to edge
          }
        }

        >div.attribute-value {
          >div.attribute {
            @include p2-small-note;
            margin-bottom:0.5em; //NOTE: unspecified
          }
        }



        // Other divs are ordered from 1+
        // on single- css, e.g. title

      } //End left column, info

      >div.images_and_quotes { //right
        @include pdp-break {
          width:66.66%;
          overflow: hidden;
        }
        >div.image {
          &.first-image {
            display:none;
            @include pdp-break {
              display:block;
            }
          } // first image is shown above on mobile
          >img {
            display:block;
            width:100%; height: auto;
          }
        }
        >div.quote-and-author {
          padding:30px;
          >div.quote {
            @include lqu-h2-pull-quote;
            font-style: italic;
            color:$blue01;
          }
          >div.author {
            margin-top:1em;
            @include lqu-h3-subheading;
            text-align:right;
          }
        }
      }



    }


  } //end inner section div





}


//Not a mixin for section.related; new file?
section.related {
  background-color:$gray02;
  position:relative;
  >div {
    max-width:1440px;
  }
}
