//main: style.scss
section.single-furniture {
  @include mixin-single-product;
  >div {
    >div.info_and_images {
      >div.info {

        >div {
          &.title { order:1; }
          &.order { order:2; >a {
            @include cta-button; };
          }
          &.finishes { order:3;
            padding-top:45px; padding-bottom:30px;
            >a { @include cta; }
          }
          &.download { order:4;
            padding-top:30px; padding-bottom:30px;
            >a { @include cta; }
          }
          &.description { order:5; padding-top:30px; }
          &.dimensions {
            order:6;
            >div.value.available {
              margin-top:1rem;
              @include p1-body-big-highlight;
            }
          }
          &.fabric { order:7;
            >div.value>div.fabric-note {
              @include p1-body-big-highlight;
            }
          }
          @include pdp-break {
            &.title { order:1; }
            &.description { order:2; padding-top:0px; }
            &.dimensions { order:3; padding-top:15px; }
            &.fabric { order:4; }
            &.order { order:5; padding-top:30px; padding-bottom:45px; }
            &.finishes { order:6; padding-top:0px; padding-bottom:15px; }
            &.download { order:7; padding-top:15px; padding-bottom:15px; }
          }
        }
      }
    }
  }
}

section.similar-types-of-furniture>div {

  >h3 {
    margin:30px;
    display:block;
    text-align: center;
  }
  >div.similar-grid {
    display:flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    @include lqu-grid-item;
    >a {
      width:50%;
      @media (min-width:$desktop) {
        width:25%;
      }
    }
  }

}
