// compileCompressed: ./style.css
// note: https://atom.io/packages/sass-autocompile be sure to use -g to install for this atom package
// alternativily use compileNested: ./style.css

// 1. Media-queries
@import "break-points";

// 2. Colors
@import "colors";

// 3. Typography
// Note: Fonts included in seperate calls for development to avoid reloading
@import "type";

// 4. Body, page, and gutenberg support
body {
  @include font-family-BaskervilleURW;
  margin:0px; padding:0px;
  background-color: $white;
  >div.page {
    // The page needs to be white to support
    // vegiburger css blending; can't use body
    background-color:white;
    overflow: hidden; //for alignwide...
    >div.page-inner {
      // This is the standard page width with 40px padding
      // used to support gutenberg's standard and wide alignment
      // full width-pages, break out using viewport width css below
      margin-left: auto;
      margin-right: auto;
      max-width:1440px;
      padding-left:40px; padding-right:40px;
    }
  }
}

// Gutenberg support for full and wide alignment
// As specified above, the standard max page width is 1200px
// The wide max width is 1280px
// Most custom blocks and the header use alignfull div wrappers
.alignfull {
  max-width: 100vw !important;
  width: 100vw !important;
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
}
.alignwide {
  width:calc(100% + 80px) !important;
  max-width:calc(100% + 80px) !important;
  margin-left: -40px;
  margin-right:-40px;
}

div#wpadminbar {
  opacity:0.75;
  &:hover { opacity: 1; }
}

@mixin header-height-margin-top {
  margin-top:$header-height-s;
  @media(min-width:$desktop) {
    margin-top:$header-height-l;
  }
}

// 5. Mixins and general classes
@import "mixin-overview.scss";        //general section classes
@import "mixin-single-product.scss";  //custom furniture, reupholstery
@import "mixin-contact-form";         //.lqu-contact-form

// 6. Sections and blocks
@import "header";
@import "social-icons";
@import "nav-mobile";
@import "section-commitment";
@import "section-locations";
@import "section-category-pathing";
@import "section-case-study-example";
@import "section-category-furniture";   //uses grid
@import "section-re-upholstery";        //uses grid
@import "single-upholstery";            //uses single-product
@import "single-furniture";             //uses single-product
@import "section-finishes";             //uses grid -- for wood finishes AND draperies
@import "section-case-studies";
@import "single-case";
@import "page-about";                   //multiple sections
@import "section-contact";
@import "section-faq";
@import "inquire-form";
@import "generic-page";

@import "footer";
// @import "-module";


//Pinterest Button
span.lqu-pinterest-save-button>a {
  position:absolute;
  display:block;
  margin-top:-36px; margin-left:20px;
}
