//main: style.scss
@mixin font-family-BaskervilleURW {
  font-family: BaskervilleURW, Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
@mixin font-family-EngraversGothic {
  font-family: EngraversGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin lqu-font-sizes(
  $desktop-font-size,
  $desktop-line-height,
  $mobile-font-size,
  $mobile-line-height
) {
  font-size: $mobile-font-size + 0px;
  line-height: $mobile-line-height + 0px;
  @media( min-width:$desktop ) {
    font-size: $desktop-font-size + 0px;
    line-height: $desktop-line-height + 0px;
  }
}

@mixin lqu-letter-spacing-120 { letter-spacing: (0.12em); }
@mixin lqu-letter-spacing-160 { letter-spacing: (0.16em); }
@mixin lqu-letter-spacing-220 { letter-spacing: (0.22em); }

// Global Elements
@mixin nav-items {
  @include font-family-EngraversGothic;
  @include lqu-font-sizes(14, 14, 14, 14); //line-height inferred
  color: $blue01;
  @include lqu-letter-spacing-160;
  &.selected {
    font-weight: bold;
  }
  text-transform: uppercase;
}
@mixin product-name-in-grid {
  @include font-family-EngraversGothic;
  font-weight: normal; //NOTE: Updated -- ss Category M design
  text-transform: uppercase;
  @include lqu-font-sizes(14, 14, 12, 12);
  @include lqu-letter-spacing-160;
  color: $gray02;
}
@mixin cta {
  //for inline-block links
  display:inline-block;
  @include font-family-EngraversGothic;
  font-weight: bold;
  @include lqu-font-sizes(18, 18, 14, 14);
  @include lqu-letter-spacing-160;
  color: $gray02;
  text-transform: uppercase;

  // Underline hover as specified removed for underline under
  /*
  border-bottom:1px solid $gray02;
  padding-bottom:3px; //underline offset
  padding-left:3px; padding-right:3px; //added to better match indesign
  &:hover {
    border-bottom:0px;
    padding-bottom:4px;
  }
  */

  // Underline in case of two lines of text
  @include lqu-font-sizes(18, 24, 14, 20);
  text-decoration: underline;
  text-underline-position: under;
  // NOTE: Removed border for underline-under; works with all-caps
  // under = below any descenders, with all caps, it just adds a good bit
  // for this purpose
  // if CTAs span two lines, borders can be ugly TBD

  /*
  // If underline offset becomes prevelent, it could be used in a different way
  // https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset
  // https://caniuse.com/#search=text-underline
  @include lqu-font-sizes(18, 26, 14, 22);
  text-underline-position: auto;
  text-underline-offset: 3px;
  */



}
@mixin cta-button {
  @include font-family-EngraversGothic;
  font-weight: bold;
  @include lqu-font-sizes(14, 14, 14, 14);
  @include lqu-letter-spacing-160;
  color:$tan;
  background-color:$blue01;
  letter-spacing: (0.16em);
  display:block;
  padding:34px;
  text-align:center;
  border:2px solid $blue01;
  &:hover {
    background-color:$white;
    color:$blue01
  }
  text-transform: uppercase;
  cursor: pointer;
}
@mixin cta-show-more-mobile {
  @include font-family-BaskervilleURW;
  font-style: oblique;
  @include lqu-font-sizes(20, 24, 20, 24);
  color:$blue01;
}

// Heading Mixin Variables
@mixin lqu-h1-medium-statement {
  @include font-family-BaskervilleURW;
  @include lqu-font-sizes(50, 54, 20, 24);
  color:$blue01;
}
@mixin lqu-h1-medium-statement-highlight {
  @include lqu-h1-medium-statement
  font-style: oblique;
}
@mixin lqu-h2-pull-quote {
  @include font-family-BaskervilleURW;
  @include lqu-font-sizes(60, 50, 40, 46);
}
@mixin lqu-h3-subheading { //subheading
  @include font-family-EngraversGothic;
  @include lqu-font-sizes(20, 26, 16, 18);
  @include lqu-letter-spacing-220;
  text-transform: uppercase;
}
@mixin lqu-h4 { //designer names and quotes
  @include font-family-BaskervilleURW;
  @include lqu-font-sizes(40, 40, 20, 20);
  font-weight: normal;
  font-style: italic;
  color:$blue01;
}
@mixin lqu-h5 { //list on About page
  @include font-family-BaskervilleURW;
  @include lqu-font-sizes(20, 26, 16, 18);
}

// Paragraph Mixin Variables
@mixin p1-body-big {
  @include font-family-BaskervilleURW;
  @include lqu-font-sizes(24, 28, 18, 22);
}
@mixin p1-body-big-highlight {
  @include p1-body-big;
  font-style: oblique;
}
@mixin p2-small-note {
  //@include p1-body-big; //NOTE: error in style guide
  @include font-family-EngraversGothic;
  @include lqu-font-sizes(14, 14, 14, 14);
  @include lqu-letter-spacing-120;
  text-transform: uppercase;
}
@mixin p3-breadcrumbs {
  @include font-family-BaskervilleURW;
  @include lqu-font-sizes(16, 20, 10, 14);
  cursor: default;
  font-style: oblique;
}

// Standard Tags
body {
  @include p1-body-big;
  color:$gray02; //dark gray default
}
a {
  text-decoration: none;
  color:$blue01; //light blue default
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin:0px; padding:0px;
}
h1 {
  @include lqu-h1-medium-statement;
  &.highlight { @include lqu-h1-medium-statement-highlight;}
}
h2 {
  @include lqu-h2-pull-quote;
}
h3 {
  @include lqu-h3-subheading;
}
h4 {
  @include lqu-h4;
}
h5 {
  @include lqu-h5;
}
