/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/3ba134"); */

/* BaskervilleURW */
@font-face {
  font-family: 'BaskervilleURW';
  font-weight: normal;
  font-style: normal;
  src: url('BaskervilleURW-Reg/font.woff2') format('woff2'), url('BaskervilleURW-Reg/font.woff') format('woff');
}
@font-face {
  font-family: 'BaskervilleURW';
  font-weight: normal;
  font-style: oblique;
  src: url('BaskervilleURW-RegIta/font.woff2') format('woff2'), url('BaskervilleURW-RegIta/font.woff') format('woff');
}

/* EngraversGothic */
@font-face {
  font-family: 'EngraversGothic';
  font-weight: normal;
  font-style: normal;
  src: url('EngraversGothicBT/font.woff2') format('woff2'), url('EngraversGothicBT/font.woff') format('woff');
}
@font-face {
  font-family: 'EngraversGothic';
  font-weight: bold;
  font-style: normal;
  src: url('EngraversGothicBold/font.woff2') format('woff2'), url('EngraversGothicBold/font.woff') format('woff');
}

/**
 * @license
 * MyFonts Webfont Build ID 3907892, 2020-05-28T13:50:57-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: BaskervilleURW-Reg by URW Type Foundry
 * URL: https://www.myfonts.com/fonts/urw/baskerville/urw-baskerville-t-regular/
 * Copyright: Copyright 2010 URW++ Design &amp;amp; Development Hamburg
 *
 * Webfont: BaskervilleURW-RegIta by URW Type Foundry
 * URL: https://www.myfonts.com/fonts/urw/baskerville/urwbasker-t-italic-47154/
 * Copyright: Copyright 2010 URW++ Design &amp;amp; Development Hamburg
 *
 * Webfont: EngraversGothicBold by ParaType
 * URL: https://www.myfonts.com/fonts/paratype/engravers-gothic/bold/
 * Copyright: Copyright &amp;#x00A9; 2005, ParaType Inc, ParaType Ltd. All rights reserved.
 *
 * Webfont: EngraversGothicBT by ParaType
 * URL: https://www.myfonts.com/fonts/paratype/engravers-gothic/regular/
 * Copyright: Copyright &amp;#x00A9; 1987-1992 Bitstream Inc. Partial Copyright &amp;#x00A9; 2005, ParaType Inc, ParaType Ltd. All rights reserved.
 *
 *
 *
 * © 2020 MyFonts Inc
*/
